
.DS_Store
build
.git
*.egg-info
dist
output
data/coco
data/custom
data/samples
output

weights/*.weights
weights/*.pth
weights/darknet53.conv.74
weights/yolov3-tiny.conv.15

__pycache__
checkpoints
logs
.ipynb-checkpoints
*.ipynb
*.png
.datasets.py.swp

